#main {
    width: 100%;
    // height: 100vh;
    .container {
        .final-image {
            img {
                
                width: 110px;
                height: 70px;
            }
        }
    }
}